.PlayContainer {
  .j-button {
    width: 120px;
    padding: 12px 0;
  }
  .j-button + .j-button {
    margin-left: 60px;
  }

  .err {
    color: #f60202;
  }
}
.PlayContainer_header {
  font-size: 24px;
  line-height: 22px;
  color: #00b7ee;
  margin: 26px 0;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.PlayContainer_body {
  min-height: 180px;
  // overflow: auto;
  // margin: 0 45px;
  box-sizing: border-box;
  // padding: 18px;
  background-color: #fff;
  // border: 1px solid #b0eafb;
  line-height: 30px;
  color: #555;
  font-size: 20px;
  // text-indent: 40px;
  position: relative;
}
.PlayContainer_countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 130px;
  box-sizing: border-box;
  border: 10px solid #7ce1ff;
  border-radius: 50%;
  font-size: 60px;
  color: #00b7ee;
  text-align: center;
  line-height: 1.8;
}

.PlayContainer_input {
  height: 180px;
  line-height: 170px;

  font-size: 48px;
  text-align: center;
  outline: none;
  background-color: #fff;

  padding-bottom: 10px;
  box-sizing: border-box;

  width: 100%;
  border: none;
}

.PlayContainer_header-r-info {
  // position: absolute;
  // right: 48px;
  // top: -10px;
  text-align: right;
  .tp-name {
    font-size: 16px;
    color: #00b7ee;
    // position: absolute;
    // bottom: 0;
    // right: 50px;
    // line-height: 1;
  }
  // .curr-word {
  //   padding-bottom: 8px;
  //   font-size: 16px;
  //   line-height: 24px;
  //   color: #666;
  //   text-align: right;
  //   b {
  //     color: #00b7ee;
  //   }
  // }
}
